[submodule "themes/hugo-bearblog"]
	path = themes/hugo-bearblog
	url = https://github.com/janraasch/hugo-bearblog.git
[submodule "themes/risotto"]
	path = themes/risotto
	url = https://github.com/joeroe/risotto.git
